/**2017-5-22 made by 马卫涛**/
body{
	background: #FFF url(../img/body_bg.png) repeat-x;
}
/**
 * top顶部
 */
#top{width:960px;margin:0 auto;height:30px;}
.top_menu {float: left;font-size: 13px;margin-left: -17px;}
.top_menu li{float: left; background: url(../img/top_ico.png) no-repeat right 14px;}
.top_menu a{line-height:30px;padding-left: 17px;margin-right: 15px;color: #fef9f9;}
.top_menu a:hover{color: blue;}
.top_menu .no_dot{background:none}

.top_bar{float: right;}
.top_bar li{line-height:30px;float: left;height: 30px;color:#FFFFFF;font-weight: bold;font-size: 13px;}
.top_bar .phone{background: url(../img/top_ico.png) no-repeat 8px -16px;padding:0 38px;}
.top_bar .help{background: url(../img/top_ico.png) no-repeat 0 -46px;padding:0 38px;}
.top_bar .space{margin-right:12px;}
/**
 * 头部 head
 */
#header{width:960px;height: 100px;margin:0 auto;position: relative;background: url(../img/h1_bg.png)no-repeat;}
#header #shopping{width: 260px;height: 100px;background: url(../img/shopping_bg.png) no-repeat;}

#shopping p{font-size: 20px;color: #FFFFFF;font-family: "Arial";padding:26px 0 0 84px;}
#shopping a{display: block; font-size:15px;font-family: arial;line-height:23px;font-weight: bold; text-align:center;width:114px; height:23px;background: url(../img/shopping_checked.png) no-repeat;position:absolute;left:104px;top:56px;}

#header h1{width:238px;margin: 0 auto;position: absolute;left: 50%;top:0;margin-left: -119px;}
#header .search{top: 33px;right: 0;}
.search{position: absolute; width: 292px;height:31px;background: url(../img/search.png) no-repeat;}
.search .text{font-family: ; font-size:13px;position: absolute;top: 0;left: 20px; width:230px;height:31px;background:none;border: none;outline: none;}
.search .btn{position: absolute; top:0;right:0;width:42px;height:31px;border: none;background: none;}
/*
 导航
 * */
#nav{height: 36px;width:960px;margin:0 auto;padding-top: 8px;}
#nav li{float: left;height: 28px;margin-right:2px;}

#nav a{line-height:28px;float:left;height: 28px;padding: 0 16px;color: #FFFFFF;font-size: 15px; font-family: arial;font-weight: normal;}
#nav strong{float: left;eight: 28px;}
#nav span{float: left;eight: 28px;padding 0 16px}

#nav a:hover,#nav .active a{background: url(../img/nav_active_bg.png) repeat-x 0 -56px;}
#nav a:hover strong,#nav .avitve strong{background: url(../img/nav_active_bg.png) no-repeat;}
#nav a:hover span,#nav .active span{background: url(../img/nav_active_bg.png) no-repeat right -28px;}

/**
 * 主体内容 头部
 */
#content{width: 1000px;margin:24px auto 0;background: url(../img/content_bg.png) repeat-y -1000px 0;}
#content_top{width: 1000px;background: url(../img/content_bg.png) no-repeat;}
#content_bottom{width: 1000px;background:url(../img/content_bg.png) no-repeat -2000px bottom;}
